[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"

[dev-packages]

[requires]
python_version = "3.12"
